@font-face {
  font-family: "Dolce Light";
  src: url("../../public/static/fonts/Dolce Vita Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {

  font-family: "Dolce";
  src: url("../../public/static/fonts/Dolce Vita.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Dolce Bold";
  src: url("../../public/static/fonts/Dolce Vita Heavy Bold.ttf") format("truetype");
  font-style: normal;
}

