.index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today {
  display: flex;
  flex-direction: column;

  article {
    border: 1px solid red;
  }

  .imgBox {
    border: 1px solid red;
    width: 90%;
    height: 90%;
    position: relative;
  }

  .information {
    flex-grow: 1;

    .text {
      text-align: center;

    }
  }
}
